{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
{% import 'OroUserBundle::macros.html.twig' as U %}
{% import 'OroActivityBundle::macros.html.twig' as AC %}

{% oro_title_set({params : {"%entity.code%": entity.code|default('N/A') }}) %}

{% block navButtons %}
    {% if resource_granted('EDIT', entity) %}
        {{ UI.editButton({
            'path' : path('issue_update', { id: entity.id }),
            'entity_label': 'andy.bugtrack.issue.entity_label'|trans
        }) }}
    {% endif %}

    {% if resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
            'dataUrl': path('issue_delete', {'id': entity.id}),
            'dataRedirect': path('issue_index'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-issue',
            'dataId': entity.id,
            'entity_label': 'andy.bugtrack.issue.entity_label'|trans,
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
    'entity':      entity,
    'indexPath':   path('issue_index'),
    'indexLabel': 'andy.bugtrack.issue.entity_plural_label'|trans,
    'entityTitle': entity.summary
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block breadcrumb %}
    {% set breadcrumbs = [
        { label: 'andy.bugtrack.issue.entity_plural_label'|trans },
        { label: 'andy.bugtrack.issue.menu.issue_view'|trans }
    ] %}
    {% include 'OroNavigationBundle:Menu:breadcrumbs.html.twig' %}
{% endblock breadcrumb %}

{% block content_data %}
    {% set issueUpdatedAtWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url': path('issue_widget_updated_at', {id: entity.id}),
            'alias': 'bug_track_issue_updated_at'
        }) }}
    {% endset %}

    {% set data %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    {{ UI.renderProperty('andy.bugtrack.issue.code.label'|trans, entity.code) }}
                    {{ UI.renderProperty('andy.bugtrack.issue.summary.label'|trans, entity.summary) }}
                    {{ UI.renderProperty('andy.bugtrack.issue.type.label'|trans, entity.type) }}
                    {{ UI.renderHtmlProperty('andy.bugtrack.issue.description.label'|trans, entity.description|nl2br) }}
                    {{ UI.renderProperty('oro.ui.created_at'|trans, entity.createdAt|oro_format_datetime) }}
                    {{ UI.renderAttribute('oro.ui.updated_at'|trans, issueUpdatedAtWidget) }}
                    {{ UI.renderProperty('andy.bugtrack.issue.priority.label'|trans, entity.priority) }}
                    {{ UI.renderProperty('andy.bugtrack.issue.resolution.label'|trans, entity.resolution) }}

                    {% set assigneeData %}
                        {% if entity.assignee %}
                            {{ U.render_user_name(entity.assignee) }}
                        {% endif %}
                    {% endset %}
                    {{ UI.renderHtmlProperty('andy.bugtrack.issue.assignee.label'|trans, assigneeData) }}

                    {% set reporterData %}
                        {% if entity.reporter %}
                            {{ U.render_user_name(entity.reporter) }}
                        {% endif %}
                    {% endset %}
                    {{ UI.renderHtmlProperty('andy.bugtrack.issue.reporter.label'|trans, reporterData) }}

                    {% if entity.parentIssue %}
                        <a href="{{ path('issue_view', {'id': entity.parentIssue.id}) }}">
                            {{ UI.renderProperty('andy.bugtrack.subissue.parent_story'|trans, entity.parentIssue.code) }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endset %}
    {% set dataBlocks = [
        {
            'title': 'Data'|trans,
            'class': 'active',
            'subblocks': [
                { 'data' : [data] }
            ]
        }
    ] %}

    {% if entity.relatedIssues is not null %}
        {% set dataBlocks = dataBlocks|merge([{
        'title': 'andy.bugtrack.issue.related.label'|trans,
        'subblocks': [{
        'title': '',
        'useSpan': false,
        'data' : [
        dataGrid.renderGrid('related-issues-grid', {'id': entity.id})
        ]
        }]
        }] ) %}
    {% endif %}

    {% if entity.type == constant("Andy\\Bundle\\BugTrackBundle\\Entity\\Issue::TYPE_STORY") %}
        {% set dataBlocks = dataBlocks|merge([{
        'title': 'andy.bugtrack.subissue.entity_plural_label'|trans,
        'subblocks': [{
        'title': '',
        'useSpan': false,
        'data' : [
        dataGrid.renderGrid('subtask-issues-grid', {'parentId': entity.id})
        ]
        }]
        }] ) %}
    {% endif %}

    {% if entity.collaborators is not null %}
        {% set dataBlocks = dataBlocks|merge([{
        'title': 'andy.bugtrack.issue.collaborators.label'|trans,
        'subblocks': [{
        'title': '',
        'useSpan': false,
        'data' : [
        dataGrid.renderGrid('collaborators-grid', {'id': entity.id})
        ]
        }]
        }] ) %}
    {% endif %}

    {% set id = 'issueView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}

    {{ parent() }}

    <div id="issue-updated-at-component"
         data-page-component-module="andybugtrack/js/app/components/issue-updated-at-component"
         data-page-component-options="">
    </div>
{% endblock content_data %}
